@font-face {
    font-family: 'pixel';
    src: url('../font/Neotriad.otf') format('truetype');
}
html{
    font-family: pixel;
    background-color: black;
    color: white;
}

body{
    margin: auto;
    text-align: center;
}

#resultados {
    display: none;
}

h2 {
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
}

#Data {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: fit-content; 
    margin: 0 auto; 
    padding: 0 2rem;
}


#calificacionForm {
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: black;
    display: inline-block; 
    padding: 2rem; 
    font-size: 1.2rem;
}

.input {
    width: 7rem; 
    height: 1.2rem; 
    margin: 5px; 
    color: black; 
}
.inp{
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0;
}

#boton{
    background-color: white;
    border-radius: 2rem;
    font-weight: 900;
    padding: 0.5rem 1.5rem;
}
